<launch>
  <arg name="bagrecord" default = "0"/>
  <include
    file = "$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
  </include>
  <node pkg="simple_roomba" 
	type="simple_roomba" 
	name="simple_roomba_nav"
	output = "screen">
  </node>
  <node pkg="rosbag" 
	type="record" 
	name="simple_roomba" 
	args="record -o /$(find simple_roomba)/rosbag/rosbag.bag -a -x /camera/(.*) --duration= 30" 
	if="$(arg bagrecord)">
  </node>

</launch>
